In [1]:
# duckdb con
import duckdb

from src.config import DATABASE_PATH

con = duckdb.connect(DATABASE_PATH, read_only=True)

In [3]:
con.sql("""
    SELECT table_id, list(column_name) FROM columns GROUP BY table_id;
""").to_df()

        table_id                                  list(column_name)
0         151126  [`id`, `snapshot_id`, `name`, `value`, persist...
1         151134  [`product_id`, `product_name`, `product_type`,...
2         151140  [`id`, `name`, `func`, `parentid`, `grouplevel...
3         151157  [`id`, `user_id`, `amount`, `card_number`, `ca...
4         151173  [`id`, `security_role_id`, `security_privilege...
...          ...                                                ...
150154    150640     [`id`, `type`, `num`, `amount`, `update_time`]
150155    150850  [`id`, `collect_time`, `ip`, `port`, `db_type`...
150156    150867  [app_id, container_id, start_time, finish_time...
150157    150877  [`userid`, `convid`, `ininbox`, `insentbox`, `...
150158    150887  [`term_id`, `map_suffix`, `term`, `stem`, `com...

[150159 rows x 2 columns]